<h1>College Commitments [{{players.length}}]</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<p>
    <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="selectedGender" name="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Divisions</mat-label>
        <mat-select [(ngModel)]="selectedDivision" name="division" (selectionChange)="onDivisionChange($event)">
            <mat-option *ngFor="let division of divisions; index as i" value="{{division.divisionName}}">
                {{division.divisionName | uppercase }} </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Conferences</mat-label>
        <mat-select [(ngModel)]="selectedConference" name="conference">
            <mat-option *ngFor="let conference of conferences; index as i" value="{{conference.name}}">
                {{conference.name}} </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Years</mat-label>
        <mat-select [(ngModel)]="selectedYear" name="year">
            <mat-option value="2022">2022</mat-option>
            <mat-option value="2023">2023</mat-option>
            <mat-option value="2024">2024</mat-option>
        </mat-select>
    </mat-form-field>


</p>

<p>
    <button mat-button color="primary" (click)="onSearch($event)">Search</button>
</p>

<div *ngIf="players.length > 0" echarts [options]="options" class="demo-chart"></div>

<table mat-table [dataSource]="players" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Club Column -->
    <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef> Club </th>
        <td mat-cell *matCellDef="let element"> {{element.club}} </td>
    </ng-container>

    <!-- League Column -->
    <ng-container matColumnDef="league">
        <th mat-header-cell *matHeaderCellDef> League </th>
        <td mat-cell *matCellDef="let element"> {{element.league}} </td>
    </ng-container>

    <!-- High School Column -->
    <ng-container matColumnDef="highSchool">
        <th mat-header-cell *matHeaderCellDef> High School </th>
        <td mat-cell *matCellDef="let element"> {{element.highSchool}} </td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Rating </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city"> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state"> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <!-- Commitment Column -->
    <ng-container matColumnDef="commitment">
        <th mat-header-cell *matHeaderCellDef> Commitment </th>
        <td mat-cell *matCellDef="let element"> {{element.commitment}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
