<h1>ECNL Clubs [ {{clubs.length}} ]</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- OrgId Column -->
    <ng-container matColumnDef="orgId">
        <th mat-header-cell *matHeaderCellDef> OrgId </th>
        <td mat-cell *matCellDef="let element"> {{element.orgId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state"> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
