<h1>NWSL Players</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<div *ngIf="players.length > 0">
    <span>NWSL Players by Country (excluding USA)</span>
    <div echarts [options]="options" class="demo-chart"></div>
</div>

<table mat-table matSort [dataSource]="players" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Player </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
    </ng-container>

    <!-- Jersey Column -->
    <ng-container matColumnDef="jersey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.shirtNumber}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Hometown Column -->
    <ng-container matColumnDef="hometown">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hometown </th>
        <td mat-cell *matCellDef="let element"> {{element.hometown}} </td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date }} </td>
    </ng-container>

    <!-- Height Column -->
    <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
        <td mat-cell *matCellDef="let element"> {{element.height}} </td>
    </ng-container>

    <!-- Team Column -->
    <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
        <td mat-cell *matCellDef="let element"> <a href="{{element.team.website_url}}"> {{element.team.short_display}} </a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
