<h1>NWSL Players</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<div *ngIf="players.length > 0">
    <span>NWSL Players by Country (excluding USA)</span>
    <div echarts [options]="options" class="demo-chart"></div>
</div>

<clr-datagrid>
    <clr-dg-column>Player</clr-dg-column>
    <clr-dg-column>Number</clr-dg-column>
    <clr-dg-column>Position</clr-dg-column>
    <clr-dg-column>Hometown</clr-dg-column>
    <clr-dg-column>Country</clr-dg-column>
    <clr-dg-column>DOB</clr-dg-column>
    <clr-dg-column>Height</clr-dg-column>
    <clr-dg-column>Team</clr-dg-column>

    <clr-dg-row *ngFor="let element of players">
        <clr-dg-cell>{{element.firstName}} {{element.lastName}}</clr-dg-cell>
        <clr-dg-cell>{{element.shirtNumber}}</clr-dg-cell>
        <clr-dg-cell>{{element.position}}</clr-dg-cell>
        <clr-dg-cell>{{element.hometown}}</clr-dg-cell>
        <clr-dg-cell>{{element.country}}</clr-dg-cell>
        <clr-dg-cell>{{element.dateOfBirth | date}}</clr-dg-cell>
        <clr-dg-cell>{{element.height}}</clr-dg-cell>
        <clr-dg-cell><a href="{{element.team.website_url}}" target="_blank"> {{element.team.short_display}} </a></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{players.length}} players</clr-dg-footer>
</clr-datagrid>
