<h1>NCAA DI RPI Rankings</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<clr-datagrid>
    <clr-dg-column>Rank</clr-dg-column>
    <clr-dg-column>School</clr-dg-column>
    <clr-dg-column>Conference</clr-dg-column>
    <clr-dg-column>Record</clr-dg-column>
    <clr-dg-column>Neutral</clr-dg-column>
    <clr-dg-column>Non-DI</clr-dg-column>

    <clr-dg-row *ngFor="let element of rankings">
        <clr-dg-cell>{{element.rank}}</clr-dg-cell>
        <clr-dg-cell>{{element.school}}</clr-dg-cell>
        <clr-dg-cell>{{element.conference}}</clr-dg-cell>
        <clr-dg-cell>{{element.record}}</clr-dg-cell>
        <clr-dg-cell>{{element.neutral}}</clr-dg-cell>
        <clr-dg-cell>{{element["non-div-i"]}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{rankings.length}} schools</clr-dg-footer>
</clr-datagrid>

