<h1>{{selectedYear}} College Commitments</h1>
<h2>{{selectedConference}}</h2>
<!--
<span *ngIf="loadingData" class="spinner">
    Loading...
</span>
-->

<div class="flex-parent-element">
    <div class="flex-child-element">
        <form clrForm clrLayout="compact">
            <clr-radio-container clrInline>
                <label>Gender</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="gender" required value="male" [(ngModel)]="selectedGender" />
                    <label>Male</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="gender" required value="female" [(ngModel)]="selectedGender" />
                    <label>Female</label>
                </clr-radio-wrapper>
                <clr-control-helper>
                    <!--Pick a division-->
                </clr-control-helper>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-radio-container>

            <clr-radio-container clrInline>
                <label>Division</label>
                <clr-radio-wrapper *ngFor="let division of divisions">
                    <input type="radio" clrRadio name="division" required value="{{division.divisionName}}"
                        [(ngModel)]="selectedDivision" (change)="onDivisionChange()" />
                    <label>{{division.divisionName | uppercase}}</label>
                </clr-radio-wrapper>
                <clr-control-helper></clr-control-helper>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-radio-container>

            <clr-control-container>
                <label>Conference</label>
                <ng-select [items]="conferences"
                    class="custom"
                   name="conference"
                   [multiple]="false"
                   bindLabel="name"
                   bindValue="name"
                   [(ngModel)]="selectedConference" (change)="onSubmit()">
                </ng-select>
                <!--
                <ng-select clrControl [multiple]="true" name="cars" [(ngModel)]="selectedConference" required>
                  <ng-option *ngFor="let conference of conferences" [value]="conference.name">{{conference.name}}</ng-option>
                </ng-select>
                -->
                <clr-control-helper><!-- Helper text --></clr-control-helper>
                <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
              </clr-control-container>


              <clr-radio-container clrInline>
                <label>Year</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="year" required value="2022" [(ngModel)]="selectedYear" />
                    <label>2022</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="year" required value="2023" [(ngModel)]="selectedYear" />
                    <label>2023</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="year" required value="2024" [(ngModel)]="selectedYear" />
                    <label>2024</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="year" required value="2025" [(ngModel)]="selectedYear" />
                    <label>2025</label>
                </clr-radio-wrapper>
                <clr-control-helper><!--Pick a year--></clr-control-helper>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-radio-container>

            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Search</button>
        </form>
    </div>
    <div class="flex-child-element">
        <div *ngIf="players.length > 0" echarts [options]="options" class="demo-chart"></div>
    </div>
</div>

<clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Commitment</clr-dg-column>
    <clr-dg-column>League</clr-dg-column>
    <clr-dg-column>Position</clr-dg-column>
    <clr-dg-column>Club</clr-dg-column>
    <clr-dg-column>High School</clr-dg-column>
    <clr-dg-column>Rating</clr-dg-column>
    <clr-dg-column>City</clr-dg-column>
    <clr-dg-column>State</clr-dg-column>


    <clr-dg-row *ngFor="let element of players">
        <clr-dg-cell>{{element.name}}</clr-dg-cell>
        <clr-dg-cell>{{element.commitment}}</clr-dg-cell>
        <clr-dg-cell>{{element.league}}</clr-dg-cell>
        <clr-dg-cell>{{element.position}}</clr-dg-cell>
        <clr-dg-cell>{{element.club}}</clr-dg-cell>
        <clr-dg-cell>{{element.highSchool}}</clr-dg-cell>
        <clr-dg-cell>{{element.rating}}</clr-dg-cell>
        <clr-dg-cell>{{element.city}}</clr-dg-cell>
        <clr-dg-cell>{{element.state}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{players.length}} players</clr-dg-footer>
</clr-datagrid>
