<h1>NCAA Transfers</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<h2>Transfers Out by Frequency</h2>
<ul>
    <li *ngFor="let frequency of getFormerFrequencies()">{{frequency}} {{frequency === 1 ? 'player' : 'players'}} - {{this.getFormerSchoolsWithFrequency(frequency).join(', ')}}</li>
</ul>

<br/>
<h2>Transfers In By Frequency</h2>
<ul>
    <li *ngFor="let frequency of getNewFrequencies()">{{frequency}} {{frequency === 1 ? 'player' : 'players'}} - {{this.getNewSchoolsWithFrequency(frequency).join(', ')}}</li>
</ul>

<clr-datagrid>
    <clr-dg-column>Player</clr-dg-column>
    <clr-dg-column>Former School</clr-dg-column>
    <clr-dg-column>New School</clr-dg-column>

    <clr-dg-row *ngFor="let element of transfers">
        <clr-dg-cell *ngIf="element.url !== null"><a href="{{element.url}}" target="_blank">{{element.name}}</a></clr-dg-cell>
        <clr-dg-cell *ngIf="element.url === null">{{element.name}}</clr-dg-cell>
        <clr-dg-cell *ngIf="element.formerSchoolUrl !== null"><a href="{{element.formerSchoolUrl}}" target="_blank">{{element.formerSchoolName}}</a></clr-dg-cell>
        <clr-dg-cell *ngIf="element.formerSchoolUrl === null">{{element.formerSchoolName}}</clr-dg-cell>
        <clr-dg-cell *ngIf="element.newSchoolUrl !== null"><a href="{{element.newSchoolUrl}}" target="_blank">{{element.newSchoolName}}</a></clr-dg-cell>
        <clr-dg-cell *ngIf="element.newSchoolUrl === null">{{element.newSchoolName}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{transfers.length}} transfers</clr-dg-footer>
</clr-datagrid>
