<h1>NCAA United Soccer Coaches Rankings</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<clr-radio-container clrInline>
    <label>Division</label>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="division" required value="di" [(ngModel)]="currentDivision" (change)="onDivisionChange($event)" />
      <label>DI</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="division" required value="dii" [(ngModel)]="currentDivision" (change)="onDivisionChange($event)" />
      <label>DII</label>
    </clr-radio-wrapper>
    <clr-control-helper><!--Pick a division--></clr-control-helper>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-radio-container>

<clr-datagrid>
    <clr-dg-column>Rank</clr-dg-column>
    <clr-dg-column>School</clr-dg-column>
    <clr-dg-column>Previous</clr-dg-column>
    <clr-dg-column>Record</clr-dg-column>

    <clr-dg-row *ngFor="let element of rankings">
        <clr-dg-cell>{{element.rank}}</clr-dg-cell>
        <clr-dg-cell>{{element.school}}</clr-dg-cell>
        <clr-dg-cell>{{element.previous}}</clr-dg-cell>
        <clr-dg-cell>{{element.record}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{rankings.length}} schools</clr-dg-footer>
</clr-datagrid>
