<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <a mat-menu-item color="primary" routerLink="/">Home</a>
        <a mat-menu-item color="primary" routerLink="/commitments">Commitments</a>
        <a mat-menu-item color="primary" routerLink="/players">Players</a>
        <button mat-menu-item [matMenuTriggerFor]="ecnl">ECNL</button>
        <button mat-menu-item [matMenuTriggerFor]="ga">GA</button>
        <button mat-menu-item [matMenuTriggerFor]="ncaa">NCAA</button>
        <button mat-menu-item [matMenuTriggerFor]="nwsl">NWSL</button>
    </mat-menu>
    <mat-menu #ecnl="matMenu">
        <a mat-menu-item color="primary" routerLink="/ecnl/clubs">Clubs</a>
    </mat-menu>
    <mat-menu #ga="matMenu">
        <a mat-menu-item color="primary" routerLink="/ga/clubs">Clubs</a>
    </mat-menu>
    <mat-menu #ncaa="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="ranking">Ranking</button>
    </mat-menu>
    <mat-menu #ranking="matMenu">
        <a mat-menu-item color="primary" routerLink="/ncaa/ranking/rpi">RPI</a>
        <a mat-menu-item color="primary" routerLink="/ncaa/ranking/usc">United Soccer Coaches</a>
    </mat-menu>
    <mat-menu #nwsl="matMenu">
        <a mat-menu-item color="primary" routerLink="/nwsl/players">Players</a>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
    <mat-drawer-content fxFlex="100">
        <router-outlet></router-outlet>
        <!-- <app-messages></app-messages> -->
    </mat-drawer-content>
</mat-drawer-container>
