<h1>NWSL Standings</h1>

<div *ngIf="overlay">
    <app-spinner-overlay [overlay]="overlay">
    </app-spinner-overlay>
</div>

<clr-datagrid>
    <clr-dg-column>Rank</clr-dg-column>
    <clr-dg-column>Team</clr-dg-column>
    <clr-dg-column>Points</clr-dg-column>
    <clr-dg-column>Overall W-L-T</clr-dg-column>
    <clr-dg-column>Home W-L-T</clr-dg-column>
    <clr-dg-column>Away W-L-T</clr-dg-column>
    <clr-dg-column>GP</clr-dg-column>
    <clr-dg-column>GD</clr-dg-column>
    <clr-dg-column>GF</clr-dg-column>
    <clr-dg-column>GA</clr-dg-column>
    <clr-dg-column>Form</clr-dg-column>

    <clr-dg-row *ngFor="let element of standings">
        <clr-dg-cell>{{element.rank}}</clr-dg-cell>
        <clr-dg-cell>{{element.team.short_display}}</clr-dg-cell>
        <clr-dg-cell>{{element.points}}</clr-dg-cell>
        <clr-dg-cell>{{element.totalMatchesWon}}-{{element.totalMatchesLost}}-{{element.totalMatchesDrawn}}</clr-dg-cell>
        <clr-dg-cell>{{element.homeMatchesWon}}-{{element.homeMatchesLost}}-{{element.homeMatchesDrawn}}</clr-dg-cell>
        <clr-dg-cell>{{element.awayMatchesWon}}-{{element.awayMatchesLost}}-{{element.awayMatchesDrawn}}</clr-dg-cell>
        <clr-dg-cell>{{element.totalMatchesPlayed}}</clr-dg-cell>
        <clr-dg-cell>{{element.goalDifference}}</clr-dg-cell>
        <clr-dg-cell>{{element.goalsFor}}</clr-dg-cell>
        <clr-dg-cell>{{element.goalsAgainst}}</clr-dg-cell>
        <clr-dg-cell>{{element.lastSix}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{standings.length}} teams</clr-dg-footer>
</clr-datagrid>
