<h1>Welcome to the SoccerHub</h1>

<ul>
    <li><a routerLink="/ecnl">ECNL</a></li>
    <li><a routerLink="/ecnl/clubs">ECNL Clubs</a></li>
    <li><a routerLink="/ga">Girls Academy</a></li>
    <li><a routerLink="/ga/clubs">Girls Academy Clubs</a></li>
    <li><a routerLink="/ncaa">NCAA</a></li>
    <li><a routerLink="/ncaa/ranking/rpi">NCAA RPI Rankings</a></li>
    <li><a routerLink="/ncaa/ranking/usc">NCAA United Soccer Coaches Rankings</a></li>
    <li><a routerLink="/nwsl">NWSL</a></li>
    <li><a routerLink="/nwsl/players">NWSL Players</a></li>
    <li><a routerLink="/nwsl/standings">NWSL Standings</a></li>
    <li><a routerLink="/tds">TopDrawerSoccer</a></li>
    <li><a routerLink="/tds/players">TopDrawerSoccer Players</a></li>
    <li><a routerLink="/tds/commitments">TopDrawerSoccer Commitments</a></li>
    <li><a routerLink="/tds/college/conferences">TopDrawerSoccer Conferences</a></li>
    <li><a routerLink="/tds/college/transfers">TopDrawerSoccer Transfers</a></li>

</ul>
